/*HOWE ITS MADE*/

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    margin: 0;
}


/*MOBAIL*/
@media screen and (max-width: 767px) {
.hawe-its-made {
    padding-top: 125px;
    scroll-padding-bottom: 145px;
    background-color: #FFF5F6;
}

.hawe-it-div-container {
    display: block;
    justify-content: center;
}




}