$primary-text-color: #000000;
$secondary-text-color: #907e82;
$primary-title-color: #d41443;
$text-clock-color: #ffa5ba;
$secondary-white-color: #ffffff;
$main-black-color: #000000;
$hero-background-color: #ffb8ca;
$product-feedback-background-color: #e5e5e5;
$pink-background-color: #fff5f6;
$social-link-color: #ffffff;
$hover-button-color: #ecebeb;
$menu-bg-color: #e17992;
