<footer class="footer">
    <div class="container">
        <p class="footer-text">homemade ice cream made</p>
        <h2 class="footer-title">with passion</h2>
         <ul class="footer-social-links">
        <li class="social-link-item list">
            <a class="social-links link" href="">
              <svg class="footer-social-svg" width="32" height="32">
                <use href="./images/sprite.svg#icon-social-icon1"></use>
              </svg>
            </a>
          </li>
          <li class="social-link-item list">
            <a class="social-links link" href="">
              <svg class="footer-social-svg" width="32" height="32">
                <use href="./images/sprite.svg#icon-social-icon2"></use>
              </svg>
            </a>
          </li>
          <li class="social-link-item list">
            <a class="social-links link" href="">
              <svg class="footer-social-svg" width="32" height="32">
                <use href="./images/sprite.svg#icon-social-icon3"></use>
              </svg>
            </a>
          </li></ul>
          <div class="footer-contakt"><span class="footer-contakt-join">Feel free to contact</span><a
            class="footer-contakt-tell link"
            href="tel:+61 (0) 383 766 284"
          ></div>
          <p>&copy;2019 - IceCream.
            All Rights Reserved. </p>
    </div>
</footer>
