<!-- HERO SECTION -->
<section class="section hero-section" id="hero">
  <div class="container hero-container">
    <div class="hero-info-container">
      <h1 class="hero-title">
        ice cream <br />
        made with <br />
        <span>passion </span>
      </h1>
      <ul class="hero-work">
        <li class="hero-work-list">
          <span class="hero-work-place">16</span>
          <span class="hero-work-description">cafes</span>
        </li>
        <li class="hero-work-list">
          <span class="hero-work-place">23</span>
          <span class="hero-work-description">food trucks</span>
        </li>
      </ul>
    </div>
    <div class="hero-btn-group">
      <button type="button" class="product-btn">
        <a class="product-btn-link" href="#products">Products</a>
      </button>
      <button type="button" class="how-btn">
        <a class="how-btn-link" href="#how">How it’s made?</a>
      </button>
    </div>
    <div class="hero-circle">
      <picture class="hero-ice-cream">
        <source
          srcset="
            ./images/hero/icecream-mob.png    1x,
            ./images/hero/icecream-mob@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/hero/icecream-desk.png    1x,
            ./images/hero/icecream-desk@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero/icecream-tab.png    1x,
            ./images/hero/icecream-tab@2x.png 2x
          "
          media="(min-width: 768px)"
        />

        <img
          src="./images/hero/icecream-desk.png"
          srcset="/images/hero/icecream-mob@2x.png 2x"
          alt="icecream"
        />
      </picture>
    </div>
    <div class="hero-description-container">
      <p class="hero-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="hero-arrow-bnt"></button>
    </div>
  </div>
</section>
