@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 34px;
    padding-left: 34px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-right: 115px;
    padding-left: 115px;
    margin-right: auto;
    margin-left: auto;
  }

}
